<div id="zeitgeist">
	<h2>Noticias</h2>
	<ul>
	{foreach from=$rss item=item}
		<li><a href="{$item.link}">{$item.title}</a></li>
	{foreachelse}
		<li>No hay ninguna noticia.</li>
	{/foreach}
	</ul>
</div>


<h3>Misión</h3>

<p>Colaborar con nuestros clientes en la optimización de sus procesos y el logro de sus objetivos, explotando la creatividad de nuestros profesionales para brindar productos y servicios innovadores y de calidad.</p>

<h3>Visión</h3>

<p>Consolidarnos como el mejor proveedor de soluciones informáticas en el sector turismo de la Región</p>