<script type="text/javascript" src="{$media_url}js/tiny_mce/tiny_mce_gzip.php"></script>
<script type="text/javascript">
{literal}
	tinyMCE.init({
		mode : "exact",
		elements : "itinerary, include, notinclude, notes",
		textarea_trigger : "title",
		width : "100%",
		theme : "advanced",
		theme_advanced_buttons1 : "pasteword,pastetext,selectall,bold,italic,strikethrough,separator,bullist,numlist,separator,justifyleft,justifycenter,justifyright,separator,link,unlink,undo,redo,code,search,replace",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_path_location : "bottom",
		theme_advanced_resizing : true,
		theme_advanced_resize_horizontal : false,
		remove_script_host : false,
		browsers : "msie,gecko,opera",
		dialog_type : "modal",
		entity_encoding : "raw",
		relative_urls : false,
		force_p_newlines : true,
		force_br_newlines : false,
		convert_newlines_to_brs : false,
		remove_linebreaks : true,
		plugins: "searchreplace,paste"
	});
{/literal}
</script>
<form action="{$self}" method="post" name="frm" id="frm" onsubmit="return v.exec()" enctype="multipart/form-data">	
<div id="poststuff">

<div id="moremeta">
	<div id="grabit" class="dbx-group">
				<fieldset id="langdiv" class="dbx-box">
					<h3 class="dbx-handle">{gt s = 'Idioma'}</h3>
					<div class="dbx-content">
					<select name="lang" id="lang">
						{html_options options=$active_langs selected=$lang display_m=lang_name value_m=lang_code}
					</select>
					</div>
				</fieldset>
				<fieldset id="typediv" class="dbx-box">
					<h3 class="dbx-handle">{gt s = 'Tipo'}</h3>
					<div class="dbx-content">
					<select name="typeid" id="typeid">
						{if $tour}
						{html_options options=$tourtypes selected=$tour.typeid display_m=name value_m=typeid}
						{else}
						{html_options options=$tourtypes selected=$default_type display_m=name value_m=typeid}
						{/if}
					</select>
					</div>
				</fieldset>
				<fieldset id="codediv" class="dbx-box">
					<h3 class="dbx-handle">{gt s = 'Código'}</h3>
					<div class="dbx-content">
					<input type="text" name="code" id="code" value="{$tour.code}" size="20" maxlength="20" class="upper" /> <span class="req" title="{gt s = 'Required field'}">*</span>
					</div>
				</fieldset>
				<fieldset id="pricediv" class="dbx-box">
					<h3 class="dbx-handle">{gt s = 'Precio US$'}</h3>
					<div class="dbx-content">
					<input type="text" name="price" id="price" value="{$tour.price}" size="20" maxlength="20" /> <span class="req" title="{gt s = 'Required field'}">*</span>
					</div>
				</fieldset>
				<fieldset id="destinationdiv" class="dbx-box">
					<h3 class="dbx-handle">{gt s = 'Destinos'}</h3>
					<div class="dbx-content">
					{section name=td loop=$destinations}
					<input type="checkbox" name="tdestinations[]" id="dest_{$destinations[td].destid}" value="{$destinations[td].destid}" {if $destinations[td].active}checked="checked"{/if}{if !$tour && $default_destination == $destinations[td].destid}checked="checked"{/if} />
					<label for="dest_{$destinations[td].destid}" class="noblock">{$destinations[td].name}</label><br />
					{/section}
					</div>
				</fieldset>
	</div>
	<!--end grabit -->
</div>
<!--end moremeta-->

<fieldset id="metadiv">
		{if $tour}
		<p><strong>{gt s = 'Disponible en'}</strong>:
			{section name=nl loop=$tour.langs}
				<a href="{$page_name}.php?id={$tour.tourid}&amp;lang={$tour.langs[nl].lang_code}" class="{$tour.langs[nl].filled}">{$tour.langs[nl].name}</a>,
			{/section}
		</p>
		{else}
		<p><strong>{gt s='Agregar el tour en'}</strong>: 
			{foreach from=$active_langs item=lang}
			<a href="{$self}?lang={$lang.lang_code}">{$lang.lang_name}</a>,
			{foreachelse}
			{gt s = 'Ops!, debería haber algún lenguaje'}
			{/foreach} (se descartarán los cambios no guardados)
		</p>
		{/if}
</fieldset>

{if $msg}{$msg|wrap}{/if}

<fieldset id="titlediv">
	<p>
		<label id="lname" for="name">{gt s='Nombre'} ({gt s='Requerido'})</label> <br />
		<input type="text" name="name" id="name" value="{$tour.name}" size="40" maxlength="200" /> 
	</p>
	
	<p>
		<label for="resume" id="lresume">{gt s='Resumen'} ({gt s='Requerido'})</label> <br />
		<textarea rows="9" cols="40" name="resume" tabindex="2" class="textarea" id="resume">{$tour.resume}</textarea>
	</p>
</fieldset>

<p class="submit">
			<input type="submit" name="save" id="save" style="font-weight: bold;" value="{gt s = 'Guardar Tour'}" />
			{if $tour}
			<input type="submit" name="remove" value="{gt s = 'Eliminar Tour'}" onclick="return confirm_msg()" />
			{/if}
			{form_token action=update-tour}
			<input type="hidden" name="action" id="action" value="{$action}" />
			<input type="hidden" name="id" id="id" value="{$tour.tourid}" />
</p>

<div id="advancedstuff" class="dbx-group">
	
<fieldset id="itinerarydiv" class="dbx-box">
				<h3 class="dbx-handle">{gt s = 'Itinerario'}</h3>
				<div class="dbx-content">
				<textarea name="itinerary" id="itinerary" cols="4" rows="6" class="textarea">{$tour.itinerary}</textarea>
				</div>
			</fieldset>

			<fieldset id="includediv" class="dbx-box">
				<h3 class="dbx-handle">{gt s = 'Incluye'}</h3>
				<div class="dbx-content">
				<textarea name="include" id="include" cols="45" rows="6" class="textarea">{$tour.include}</textarea>
				</div>
			</fieldset>
			<fieldset id="notincludediv" class="dbx-box">
				<h3 class="dbx-handle">{gt s = 'No Incluye'}</h3>
				<div class="dbx-content">
				<textarea name="notinclude" id="notinclude" cols="45" rows="6" class="textarea">{$tour.notinclude}</textarea>
				</div>
			</fieldset>
			<fieldset id="notesdiv" class="dbx-box">
				<h3 class="dbx-handle">{gt s = 'Notas'}</h3>
				<div class="dbx-content">
				<textarea name="notes" id="notes" cols="45" rows="6" class="textarea">{$tour.notes}</textarea>
				</div>
			</fieldset>
			<fieldset id="picturesdiv" class="dbx-box">
				<h3 class="dbx-handle">{gt s = 'Imágenes'}</h3>
				<div class="dbx-content">
					<div id="whatever">{if $pictures}
						<p class="acenter">[<a href="#picturesdiv" onclick="addtourpics(); return false;">{gt s = 'Añadir imágenes'}</a>]</p>
						{section name=p loop=$pictures}
						<p id="thumbpiccont{$pictures[p].picid}" class="thumbpicitem">
							<img alt="{$pictures[p].name}" src="{$picsurl}thumb_{$pictures[p].picname}" id="pic_{$pictures[p].picid}">
							<span><br />{$pictures[p].name} <a name="thumbpiccont{$pictures[p].picid}" href="#whatever" rel="lnkrmvtour">[{gt s = 'Eliminar'}]</a></span>
							<input value="{$pictures[p].picid}" id="ipic_{$pictures[p].picid}" name="ipictures[]" type="hidden">
						</p>
						{/section}
						{else}<p class="acenter"><span id="nopicturesmsg">{gt s = 'Tour sin imágenes'}</span> [<a href="#picturesdiv" onclick="addtourpics();">{gt s = 'Añadir imágenes'}</a>]</p>
						{/if}
					</div>
					
					<!--iframe src="picture.php" style="width:100%">						
					</iframe-->
					
				</div>
			</fieldset>
			
			<fieldset id="pdfsdiv" class="dbx-box">
				<h3 class="dbx-handle">PDF</h3>
				<div class="dbx-content">
				{section name=pd loop=$pdfs}
					{if $pdfs[pd].file == ''}
					<p>
						<label for="pdf_{$pdfs[pd].lang}" class="noblock">PDF {gt s = 'en'} '{$pdfs[pd].lang_name}':</label><br />
						<input type="file" name="pdf_{$pdfs[pd].lang}" id="pdf_{$pdfs[pd].lang}" size="60" />
					</p>
					{else}
						<p>
							<label for="pdf_{$pdfs[pd].lang}" class="noblock">PDF {gt s = 'en'} '{$pdfs[pd].lang_name}':</label><br />
							<div id="input{$tour.tourid}-{$pdfs[pd].lang}">
							<a href="{$pdfsurl}{$pdfs[pd].file}" class="pdf" target="_blank">{$pdfs[pd].file}</a>
							<a href="{$self}?id={$tour.tourid}&amp;lang={$tour.lang_code}&amp;deletepdf&amp;{form_token type=url action=delete-pdf}" onclick="delete_pdf('{$tour.tourid}-{$pdfs[pd].lang}'); return false;" class="nb"><img src="{$media_url}admin/images/delete.png" alt="{gt s = 'Eliminar'}" class="nb" /></a>
							</div>
						</p>
					{/if}
				{/section}
				<div id="divmsg"></div>
				</div>
			</fieldset>

</div>

</div>
<div class="datadetail">
<p class="updated">
{gt s='Los enlaces de color <span class="filled">azul</span> indican que el texto existe en ese idioma, caso contrario el enlace aparecerá de color <span class="unfilled">naranja</span>.'}
</p>
</div>

</form>

<script type="text/javascript">
//<![CDATA[
	document.getElementById('name').focus();
	{literal}
	var a_fields = {
		'name': {
			{/literal}
			'l': '{gt s = 'Nombre'}',  // label
			{literal}
			'r': true,    // required
			't': 'lname',   // id of the element to highlight if input not validated
			'mn': 2
		},
		'code': {
			{/literal}
			'l': '{gt s = 'Código'}',  // label
			{literal}
			'r': true,    // required
			'f': 'alphanum',
			'mn': 2
		},
		'resume': {
			{/literal}
			'l': '{gt s = 'Resumen'}',  // label
			{literal}
			'r': true,    // required
			't': 'lresume',   // id of the element to highlight if input not validated
			'mn': 2
		}
	},
	o_config = {
		'alert' : 0
	}
	var v = new validator('frm', a_fields, o_config);
	
	c= function (tag) { // Crea un elemento
	   return document.createElement(tag);
	}
	d = function (id) { // Retorna un elemento en base al id
	   return document.getElementById(id);
	}
	e = function (evt) { // Retorna el evento
	   return (!evt) ? event : evt;
	}
	f = function (evt) { // Retorna el objeto que genera el evento
	   return evt.srcElement ?  evt.srcElement : evt.target;
	}

	function addtourpics () {
		window.open('pictures-popup.php', 'picturespopup', 'width=720, height=500, top=100, left=100, scrollbars=yes');
	}
	
	removetourpicture = function (evt) {
		lnk = f(e(evt));
		el = d(lnk.name);
		el.parentNode.removeChild(el);
	}
	
	wte = d('whatever');
	lnks = wte.getElementsByTagName("A");
	for (var i = 0; i < lnks.length; i++) {
	    if(lnks[i].rel == 'lnkrmvtour')
	    	lnks[i].onclick = removetourpicture;
	}
	
	function http_request() {
		try {
			objetus = new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			try {
				objetus= new ActiveXObject("Microsoft.XMLHTTP");
			} catch (E) {
				objetus= false;
			}
		}
		
		if (!objetus && typeof XMLHttpRequest!='undefined') {
			objetus = new XMLHttpRequest();
		}
		return objetus;
	}

	function delete_pdf (pdf) {
		if (!confirm_msg()) return false;
		ajax = http_request();
		params = "deletepdf=ajax&pdf=" + pdf;
		{/literal}
		url = "{$self}?";
		{literal}
		ajax.open('POST', url, true);
		ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded'); 
		ajax.send('&'+params);
		ajax.onreadystatechange = function () {
                if (ajax.readyState==1) {
                        d('divmsg').innerHTML = "Eliminando...";
                }
                else if (ajax.readyState==4) {
                	if (ajax.status==200)  {
                		d('divmsg').innerHTML = ajax.responseText;
                		build_input('input' + pdf);
                	} else
                		d('divmsg').innerHTML = 'Error-[' + ajax.status + ']-' + ajax.responseText;
                }
        }
		return false;
	}
	
	function build_input(i) {
		d(i).innerHTML = '';
		var lang = i.split('-');
		lang = lang[1];
		inp = c('INPUT');
		inp.type = 'file';
		inp.name = 'pdf_' + lang;
		inp.id = inp.name;
		inp.size = 60;
		d(i).appendChild(inp);
		return;
	}
	
	{/literal}
//]]>	
</script>