<table class="datalist" summary="{gt s = 'Listado de Usuarios'}" id="lista">
	<caption>{gt s = 'Listado de Usuarios'}</caption>
	<thead>
		<tr>
			<th>{gt s = 'Nombre'}</th>
			<th>{gt s = 'E-mail'}</th>
			<th>{gt s = 'Tipo'}</th>
			<th>{gt s = 'Registrado'}</th>
			<th>{gt s = 'Acciones'}</th>
		</tr>
	</thead>
	<tbody>
		{section name=n loop=$users}
		<tr class="{cycle values="tr01, tr02"}">
			<td><a href="{$page_name}.php?id={$users[n].userid}" title="{gt s = 'Editar'} '{$users[n].name}'">{$users[n].name}</a></td>
			<td>{$users[n].email}</td>
			<td>{$users[n].utname}</td>
			<td>{$users[n].regdate|date_format:"%d %B %Y %H:%m"}</td>
			<td class="acenter">
				{if $users[n].userid != '1'}
				<a href="{$self}?id={$users[n].userid}&remove" class="delete" title="{gt s = 'Eliminar'} '{$users[n].name}'" onclick="return confirm_msg()">{gt s = 'Eliminar'}</a>
				{else}
				{gt s = 'Predeterminado'}
				{/if}
			</td>
		</tr>		
		{sectionelse}
		<tr class="tr01">
			<td colspan="5" class="acenter">{gt s = 'No hay datos que mostrar'} [<a href="#name">{gt s = 'Añadir uno nuevo'}</a>]</td>
		</tr>
		{/section}
	</tbody>
</table>
{include file="adm/paginator.html"}