<h1>About Us</h1>
<h2>Welcome to {$site_name}</h2>
For the past three decades, All South America has led the way in uniquely different adventure and cultural journeys in Peru and throughout South America. The company is owner operated by Luz Marina Anaya, who is originally from Cusco - Perú . She has spent the last 30 years organizing  high quality journeys, expeditions, honeymoons, family holidays, film crews and alternative adventures throughout the continent and when possible getting out on as many of them as possible.<br><br>
An all South America “Alternative Adventure” does not mean having to "rough it". We believe in the finer things in life and as our guests, we want your time with us to be as luxurious, relaxing and enjoyable as possible - after all, it is your holiday.<br><br>
Our dedicated team of professionally trained guides, cooks and support crew are, quite simply, the best in the business. With their passion for adventure travel and love of all things South American, this is the team you want to be on holiday with.<br><br>
Whether it is deluxe trekking along an ancient Inca Trail to reach Machu Picchu, wildlife watching in the World's best preserved rainforest, or taking your family on the luxurious Orient Express train to Lake Titicaca, you can rest assured that an All South America "Alternative Adventure" will be like no other holiday you have ever taken before.

 
<h2>Manager: Luz Marina Anaya</h2> 
Luz Marina, Been born in Cusco – Perú, and is one the guides with the most years of experience in the Cordillera of the Andes. Her background has brought her to the aegis of her profession and she is considered to be one of the foremost trekking guides in Cusco. Apart from being fluent in English, Luz Marina is also a native Quechua speaker thus making her into an invaluable translator and interpreter. Luz Marina has undergone professional first-aid training courses. She knows very well about all the History from Peru, Flora and Fauna, Guiding experience in all Ecuador, All Perú, All Bolivia and Chile.<br> 

<div class="div">
  <img  src="http://www.allsouthamerica.com.pe/themes/default/images/tour-guide.jpg" alt="Guide - Manager - Luz Marina Anaya" title = "Guide - Manager - Luz Marina Anaya"/> 
</div>
