@import url("https://fonts.googleapis.com/css?family=Raleway:400,700")
body
  background-color #333
  font-family 'Raleway'
  
h1
  color #cc0000
  
h2
  color #006699
  a 
    color #006699
a
  color #cc0000
  
.main-container
  background-color #FEFCF0
  
.sidebar
  a
    color #666
   

.header
  h1
    background-image url('../images/bg_hnav.jpg')
    background-repeat no-repeat
    height 156px
    margin-top 0
    margin-bottom 0
    
    a
      display inline-block
      height 110px
      width 400px
      text-indent -10000000px
      
  .navbar-south
    background-color #0B0102
    margin-top -40px
    
    i.fa
      color #FFD451 !important
      
    .navbar-nav>li>a
      color #ffff99
      
      &:hover
        color #ff6600
        

footer.footer
  background-color #663300
  color #cccc66
  padding-top 35px
  margin-top 25px
  a
    color white

.costado
  background-color #ffff99
  text-align center

@media (min-width 768px)
  .navbar-south
    border-radius 0
    
  .navbar-nav
      float right