<div id="nav1">
	{if $related_tours}			
	<h2>{gt s = 'See also'}</h2>
	<ul>
	{section name=n loop=$related_tours}
	<li><a href="{rewrite_link func=template_tour_url data=$related_tours[n] lang=$lang}" title="{gt s = 'View details of'} {$related_tours[n].name}">{$related_tours[n].name}</a></li>
	{/section}
	</ul>
	{/if}	
</div>
<br />

<div id="menu12">

<h2>{gt s = 'Types'}</h2>
<ul>
{section name=lt loop=$ltourtypes}
<li><a href="{rewrite_link func=template_tourtype_url data=$ltourtypes[lt] lang=$lang}">{$ltourtypes[lt].name}</a></li>
{/section}
</ul>
</div>

<div id="menu12">
<br />
<h2>{gt s = 'Destinations'}</h2>
<ul>
{section name=ld loop=$ldestinations}
<li {if $destination.destid == $ldestinations[ld].destid}class="selected"{/if}><a href="{rewrite_link func=template_destination_url data=$ldestinations[ld] lang=$lang}">{$ldestinations[ld].name}</a></li>
{/section}
<li><a href="{rewrite_link func=template_normal_url data=destination lang=$lang}">{gt s = 'Show all destinations'} &raquo;</a></li>
</ul>
</div>

<br />

<div id="menu12">
<a href="http://www.youtube.com/visitperu#p/a/u/2/hVhC8jAPX6w" target="_blank"><img height="49" alt="Sale Cusco" hspace="4" src=  "themes/default/images/you-tube.jpg" /></a>

<a href="http://dirceturcusco.gob.pe/dircetur/lista.php?pg=2" target="_blank">
<img src="themes/default/images/dircetur.gif" alt="Dirección Regional de Turismo - Cusco" title="Dirección Regional de Turismo - Cusco" /></a>

</div>

<div id="menu4">	


	


<object id="pingboxg1qsxsrp3v8ŗ0" type="application/x-shockwave-flash" data="http://wgweb.msg.yahoo.com/badge/Pingbox.swf" width="200" height="320"><param name="movie" value="http://wgweb.msg.yahoo.com/badge/Pingbox.swf" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="wid=DUyX3oytSmEWzkDm7mXy4B2AsCLF5GoNdQ--" /></object>

</br></br>
<div id="wx_module_68">
   <a href="http://www.weather.com/weather/local/PEXX0008">Cusco Weather Forecast, Peru</a>
</div>

<script type="text/javascript">

   /* Locations can be edited manually by updating 'wx_locID' below.  Please also update */
   /* the location name and link in the above div (wx_module) to reflect any changes made. */
   var wx_locID = 'PEXX0008';

   /* If you are editing locations manually and are adding multiple modules to one page, each */
   /* module must have a unique div id.  Please append a unique # to the div above, as well */
   /* as the one referenced just below.  If you use the builder to create individual modules  */
   /* you will not need to edit these parameters. */
   var wx_targetDiv = 'wx_module_68';

   /* Please do not change the configuration value [wx_config] manually - your module */
   /* will no longer function if you do.  If at any time you wish to modify this */
   /* configuration please use the graphical configuration tool found at */
   /* https://registration.weather.com/ursa/wow/step2 */
   var wx_config='SZ=180x150*WX=FHW*LNK=SSNL*UNT=F*BGI=seasonal1*MAP=null|null*DN=www.asouthamerica.com*TIER=0*PID=1027493930*MD5=c0acba59c418d65e3fee2668c07a850e';

   document.write('<scr'+'ipt src="'+document.location.protocol+'//wow.weather.com/weather/wow/module/'+wx_locID+'?config='+wx_config+'&proto='+document.location.protocol+'&target='+wx_targetDiv+'"></scr'+'ipt>');  
</script>
</div>