
		<div id="nav1">
			{if $related_tours}			
			<h2>{gt s = 'See also'}</h2>
			<ul>
			{section name=n loop=$related_tours}
				<li><a href="{rewrite_link func=template_tour_url data=$related_tours[n] lang=$lang}" title="{gt s = 'View details of'} {$related_tours[n].name}">{$related_tours[n].name}</a></li>
			{/section}
			</ul>
			{/if}	
		</div>
	<br />
		<div id="nav1">
			<h2>{gt s = 'Destinations'}</h2>
			<ul>
				{section name=ld loop=$ldestinations}
				<li {if $destination.destid == $ldestinations[ld].destid}class="selected"{/if}><a href="{rewrite_link func=template_destination_url data=$ldestinations[ld] lang=$lang}">{$ldestinations[ld].name}</a></li>
				{/section}
				<li><a href="{rewrite_link func=template_normal_url data=destination lang=$lang}">{gt s = 'Show all destinations'} &raquo;</a></li>
			</ul>
		</div>
		<div id="nav2">
			<br />
			<h2>{gt s = 'Types'}</h2>
			<ul>
				{section name=lt loop=$ltourtypes}
				<li><a href="{rewrite_link func=template_tourtype_url data=$ltourtypes[lt] lang=$lang}">{$ltourtypes[lt].name}</a></li>
				{/section}
			</ul>
		</div>
	<br />
	<div class="informacion">
			<h2>{gt s = 'We are at'}</h2>
			<a href="http://www.inc-cusco.gob.pe/frame/cons_agenciasturismo2007.cfm" target="_blank">
			<img src="themes/default/images/inc.gif" alt="Dirección Regional de Cultura Cusco" title="Dirección Regional de Cultura Cusco" /></a>
			<a href="http://www.dirceturcusco.gob.pe" target="_blank">
			<img src="themes/default/images/dircetur.gif" alt="Dirección Regional de Turismo - Cusco" title="Dirección Regional de Turismo - Cusco" /></a>		
			<a href="http://www.sunat.gob.pe/cl-ti-itmrconsruc/jcrS00Alias" target="_blank">
			<img src="themes/default/images/sunat.gif" alt="SUNAT" title="SUNAT" /></a>
			<a href="http://www.promperu.gob.pe" target="_blank">
			<img src="themes/default/images/promperu.gif" alt="Comisión de Promoción del Perú" title="Comisión de Promoción del Perú" /></a>
		
			<h2>{gt s = 'Weather'}</h2>
			<a href="http://www.senamhi.gob.pe/popupProno.php?obj=08" target="_blank" class="senamhi">
			<img height="40" alt="Senamhi" src= "themes/default/images/senamhi.gif" width="94" /></a>   
		
			<h2>{gt s = 'Contact us'}</h2>			
			<a><b>9 Hrs. a 21 Hrs.<br />
			(GMT -5:00) </b></a><br />
			<a href="skype:tesoros.del.peru?call"><img height="34" alt="Call me!" hspace="4" src=  "themes/default/images/skype.gif" /></a>
		   	<a href="{$baseurl}chat.html" target="_blank" class="chat" aling="center"><img height="34" alt="Chat!" src= "themes/default/images/chat.gif"/></a>
	</div>