<!-- Beginning of meebo me widget code.
Want to talk with visitors on your page?  
Go to http://www.meebome.com/ and get your widget! -->
<embed src="http://widget.meebo.com/mm.swf?BvwOfFHoli" type="application/x-shockwave-flash" width="250" height="350"></embed>

<!-- Beginning of meebo me widget code. Want to talk with visitors on your page? Go to http://www.meebome.com/ and get your widget! --> <object width="250" height="350" ><param name="movie" value="http://widget.meebo.com/mm.swf?BvwOfFHoli"/><embed src="http://widget.meebo.com/mm.swf?BvwOfFHoli" type="application/x-shockwave-flash" width="250" height="350"></embed></object>