<h5><p style="margin-top: 0" id="fnav">
	<a href="{rewrite_link func=template_normal_url data=about lang=$lang}">{gt s = 'About Us'}</a> |
	<a href="{rewrite_link func=template_normal_url data=contact lang=$lang}">{gt s = 'Contact Us'}</a></h5>

<!-- |
	<a href="{$baseurl}conditions.php?lang={$lang}">{gt s = 'Conditions'}</a> |
<a href="{$baseurl}deeds.php?lang={$lang}">{gt s = 'Good Deeds'}</a> |
	<a href="{$baseurl}faq.php?lang={$lang}"><acronym title="Frequently Asked Questions" lang="en">FAQ</acronym></a-->

</p>
{$site_footer}
