<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="{$meta_tags}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$section_title}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{$baseurl}themes/default/css/main.css">
  <link rel="stylesheet" href="{$baseurl}themes/default/vendor/lightbox2/dist/css/lightbox.min.css">
  <link rel="shortcut icon" href="{$baseurl}favicon.ico" />
</head>
<body>
  <div class="container main-container">
    <header class="header">
      <h1 class="logo"><a href="/">All SouthAmerica</a></h1>
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-inverse navbar-south">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="{rewrite_link func=template_normal_url data=index lang=$lang}" title="{$site_name}"><i class="fa fa-home"></i> {gt s = 'Home'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=destination lang=$lang}"><i class="fa fa-map-marker"></i> {gt s = 'Destinations'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=tours lang=$lang}"><i class="fa fa-car"></i> {gt s = 'Tours'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=about lang=$lang}"><i class="fa fa-user"></i> {gt s = 'About Us'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=contact lang=$lang}"><i class="fa fa-envelope"></i> {gt s = 'Contact Us'}</a></li>

                </ul>
                
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="cuerpo">
      <div class="row">
        <div class="col-md-3">
          {include file="nav.html"}
        </div>
        <div class="col-md-9">
          {if $file}
            {include file=$file}
          {else}
            {include file="home.html"}
          {/if}
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="col-md-12">
          {include file="footer.html"}          
        </div>
      </div>
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="{$baseurl}themes/default/vendor/lightbox2/dist/js/lightbox.min.js"></script>
</body>
</html>
