<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="{$meta_tags}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$section_title}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="shortcut icon" href="{$baseurl}favicon.ico" />
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="{rewrite_link func=template_normal_url data=index lang=$lang}" title="{$site_name}"><img src="themes/default/images/i_home.gif" alt="Start page" border="0">{gt s = 'Home'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=destination lang=$lang}"><img src="themes/default/images/i_destinations.gif" alt="Destinations" border="0">{gt s = 'Destinations'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=tours lang=$lang}"><img src="themes/default/images/i_tours.gif" alt="Tours" border="0">{gt s = 'Tours'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=about lang=$lang}"><img src="themes/default/images/i_about.gif" alt="About Us" border="0">{gt s = 'About Us'}</a></li>
                  <li><a href="{rewrite_link func=template_normal_url data=contact lang=$lang}"><img src="themes/default/images/i_contact.gif" alt="contact" border="0">{gt s = 'Contact Us'}</a></li>

                </ul>
                
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="cuerpo">
      <div class="row">
        <div class="col-md-3">
          {include file="nav.html"}
        </div>
        <div class="col-md-9">
          {if $file}
            {include file=$file}
          {else}
            {include file="home.html"}
          {/if}
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="col-md-12">
          {include file="footer.html"}          
        </div>
      </div>
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
