<div class="panel panel-default">
  <div class="panel-heading">Tours in PERU</div>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/peru-land-of-the-incas-tour.en.html">PERU Land of the incas</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/wonderful-peru-tour.en.html">Wonderful PERU</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/peru-mistycal-tour.en.html">PERU Mistycal</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/peru-amazon-rain-forest-tour.en.html">PERU Amazon Rain Forest</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/trekking-tour.en.html">PERU Trekking</a></li>
  </ul>
</div>


<div class="panel panel-default">

  <div class="panel-heading">{gt s = 'Destinations'}</div>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/tours-in-bolivia.en.html">PERU - BOLIVIA</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/tours-in-peru-ecuador.en.html">PERU - ECUADOR</a></li>
    <li class="list-group-item"><a href="http://www.allsouthamerica.com.pe/tours-in-argentina.en.html">ARGENTINA</a></li>

  </ul>
</div>


<div class="enlaces text-center">
   <a href="http://www.youtube.com/visitperu#p/a/u/2/hVhC8jAPX6w" target="_blank"><img height="49" alt="Sale Cusco" hspace="4" src=  "themes/default/images/you-tube.jpg" /></a>

   <a href="http://dirceturcusco.gob.pe/dircetur/lista.php?pg=2" target="_blank">
   <img src="themes/default/images/dircetur.gif" alt="Dirección Regional de Turismo - Cusco" title="Dirección Regional de Turismo - Cusco" /></a>
</div>
